<h4 class="totals pull-right">Starting balance: <%= @statement.start_balance.format %><br />
  Ending balance: <%= @statement.end_balance.format %><br />
  Difference: <%= @statement.balance_difference.format %><br />
  Transactions: <%= @statement.transaction_total.format %>
</h4>