<h3>Envelopes</h3>
<ul>
<% @envelopes.each do |envelope| %>
  <%= content_tag :li do %>
    <%= link_to envelope.name, envelope_transactions_path(envelope.id) %>
    <%= content_tag :span, envelope.balance.format, class: "badge #{envelope.badge_style}" %>
  <% end %>
<% end %>
</ul>
<%= link_to "new envelope", new_envelope_path, class: 'btn' %>