<h2>Envelopes</h2>
<table class="table table-striped envelopes">
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th class="hidden-phone">Actions</th>
  </tr>
  <%= render @envelopes %>
</table>
<%= link_to 'new envelope', new_envelope_path, class: 'btn btn-primary new-envelope pull-right hidden-phone' %>