// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.balance-list .nav-list ul{

  bottom-border: 1px solid #DDD;

  li a{
    padding-left: 0;
  }

}
@media (max-width: 767px) {
  .account{
    i{
      display: none;
    }
  }
}