/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@media (max-width: 767px) {
  body{
    padding: 0;
  }
  h2{
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.7em;
    padding: 0 0.3em;
  }
  .navbar{
    margin: 0;
  }
  .well{
    padding: 0;
  }
  .table-striped tbody > tr{
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .table-striped tbody > tr:nth-child(odd) > td{
    background: none;
  }
  tr.negative, tr.negative td{
    color: #FFF;
    background: #B94A48;
    border: none;
  }
  tr.positive, tr.positive td{
    color: #FFF;
    background: #468847;
    border: none;
  }
  tr.negative:nth-child(odd), tr.negative:nth-child(odd) td{
    background: #b76f6e;
  }
  tr.positive:nth-child(odd), tr.positive:nth-child(odd) td{
    background: #6c876c;
  }
  tr.negative a, tr.positive a, tr.positive small, tr.negative small{
    color: #FFF;
  }

}