<%= link_to 'new transaction', new_transaction_path, class: 'btn btn-primary new-transaction' %>
<h2>Transactions</h2>
<table class="table table-striped transactions">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Amount</th>
    <th>Account</th>
    <th>Envelope</th>
    <th>Actions</th>
  </tr>
  <%= render @transactions %>
</table>
<%= will_paginate @transactions %>
