<h2>Transactions</h2>
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Amount</th>
    <th>Account</th>
    <th>Envelope</th>
  </tr>
  <%= render @transactions %>
</table>
