<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>">Moneybox</a>
    <ul class="nav">
      <li><a href="<%= root_path %>">Home</a></li>
    </ul>
  </div>
</div>